.loginBody{
    height: 650px;
    background: url(../img/loginPage.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#login_page{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    .login_page_container{
        border: 2px solid$primary-color-1;
        width: 500px;
        height: 550px;
        .login_container{
            h2{
                text-align: center;
                margin-bottom: 20px;
    
            }
            .main_logo{
                display: flex;
                justify-content: center;
                img{
                    width: 120px;
                    margin: 30px 0;
                }
            }
            .take_input{
                .email_input{
                    display: block;
                    width: 100%;
                    padding: 10px 10px;
                    border-bottom: 1px solid black;
                    background: transparent;
                }
                label{
                    font-family: $primary-font;
                    font-size: 20px;
                }
                .pass_take{
                    margin-top:30px;
                }
            }
            .forget_link{
                text-align: end;
                font-family: $primary-font;
                font-size: 16px;
                a{
                    color: $text-color;
                }
            }
        }
        .getStartedBtn{
            text-align: center;
            margin: 30px 0;
            a{
                border-radius: 10px;
                background-color: $primary-color-1;
                width: 100%;
                padding: 10px 10px;
                color: $common-white;
            }
        }
        .dontHaveAcc{
            text-align: center;
            a{
                color: $text-color;
            }
        }
        .signUpBtn{
            text-align: center;
            a{
                color: $text-color;
            }
        }
    }
}