// background color and text colors
$text-color:#11161e;
$dark-bg-color:#151a32;
$light-bg-color:#f1f1f1;
$bg-color:#f1f3f4;
$common-white:#fff;
$primary-color-1:#ff6f61;
$primary-color-2:#ff5645;
$paragrap-txt:#444;
$paragrap-gray:#bdbdbd;

// font family
$primary-font: 'Josefin Sans', sans-serif;
$secondary-font: 'Roboto', sans-serif;



// box shadow
$box-shadow-1:0px 3px 10px 0px rgba(0, 0, 0, 0.08);
$box-shadow-2:0px 0px 50px 0px rgba(21, 26, 50, 0.1);
$box-shadow-3:0px 5px 30px 0px rgba(17, 22, 30, 0.08);

/*a{
                    color: #000;
                    background: #fff;
                    width: 100%;
                    height: 45px;
                    line-height: 45px;
                    border-radius: 10px;
                    transition: .2s;
                    &:hover{
                        background: #D3D3D3;
                    }
                    span{
                        padding-left: 30px;
                    }
                    i{
                        color: #000;
                        margin-left: 15px;
                    }
                }
                */